* {
    margin: 0;
    padding: 0;
}

body {
    background: #334960;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 10px 5px 10px;
}

h2 {
    color: #436182;
}

h3 {
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #336060;
    padding: 0 0 0 3px;
}

h4 {
    margin: 0 0 5px 0;
}

h5 {
    color: #336060;
}

li {
    list-style: none;
}

#wrapper-body {
    max-width: 65em;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 0.25ex;
    padding: 0px 20px 20px 20px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#photo-header {
    margin-top: -107px;
    text-align: center;
}

#title {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 10px 0;
}

#wrapper-column {
    display: flex;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: 7px;
    background: #334960;
    display: inline-block;
}

.left {
    width: 65%;
    padding: 40px 20px;
}

.right {
    width: 35%;
    padding: 40px 20px;
}

.individual-sections {
    margin: 0 10px 10px 5px;
}

.work-heading {
    background: #e7edf2;
    padding: 7px 10px;
    border-bottom: 1px solid #4a4d52;
    border-radius: 5px;
    margin: 10px 0;
}

.work-details {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.personal-details {
    padding: 5px 10px;
}

.work-details ul li {
    padding: 4px 2px;
}

.personal-details ul li {
    padding: 2px 2px;
}

@media all and (max-width:640px) {
    #wrapper-column {
        display: block;
    }

    .left {
        width: 100%;
        box-sizing: border-box;
    }

    .right {
        width: 100%;
        box-sizing: border-box;
    }
}